html, body {
	margin: 0;
	width: 100%;
	height: 100%;
	font-family: 'Arial';
}

a:link,
a:visited {
  text-decoration: none;
}

#nav {
	box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
	position: fixed;
	float: left;
	box-sizing: border-box;
	width: 250px;
	height: 100%;
	background: rgba(121, 87, 251, 0.1);
}

#logo {
	margin: 20px;
	margin-bottom: 100px;
	display: block;
}

.nav-block {
	box-sizing: border-box;
	display: flex;
	align-items: center;
	width: 100%;
	height: 50px;
}

.nav-block:hover {
	cursor: pointer;
}

.active {
	background: rgba(121, 87, 251, 0.1);
	border-right: 5px solid rgba(121, 87, 251, 0.5);
}

.active > div {
	color: #542CEE; 
}

.nav-link {
	margin-left: 15px;
	font-style: normal;
	color: black;
	font-size: 14px;
}

#main {
	width: 800px;
	transform: translate(300px, 100px);
}

h1 {
	clear: left;
	margin: 0;
}

button {
	background: rgba(121, 87, 251, 0.8);
	color: white;
	font-weight: bold;
	border-radius: 20px;
	border: 0;
}

#new-timer-button {
	padding: 5px 30px 5px 30px;
}

#title-container {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

#timer-heading-container > div{
	color: rgba(0, 0, 0, 0.4);
}

#blank {
	background: rgba(0, 0, 0, 0.04);
	width: 100%;
	height: 500px;
	border-radius: 15px;
	font-size: 20px;
	line-height: 500px;
	text-align: center;
	color: rgba(0, 0, 0, 0.6);
}

.timer-block {
	background: #F6F6F6;
	display: flex;
	align-items: center;
	margin-bottom: 5px;
	width: 100%;
	height: 40px;
	border-radius: 20px;
	transition: transform .2s;
}

.timer-block:hover {
	transform: scale(1.01);
	box-shadow: 3px 3px 8px 2px rgba(0, 0, 0, 0.3);
	background: white;
}

.timer-format {
	display: grid;
	grid-template-columns: auto 20% 15% 10% 5%;
}

.left-align {
	text-align: left !important;
}	

.timer-format > div {
	color: rgba(0, 0, 0, 0.8);
	font-size: 14px;
	margin: 5px 20px 5px 20px;
	text-align: center;
}

.timer-site {
	overflow: hidden;
}

#modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

#modal-content {
	background: white;
	margin: auto;
	width: 310px;
	padding: 10px;
}

.close {
	color: #B0B0B0 !important;
	margin: 5px 5px 5px 0;
}

.close:hover,
.close:focus {
  color: black !important;
  text-decoration: none;
  cursor: pointer;
}

.delete-timer {
	font-size: 15px !important;
}

#modal-close {
  float: right;
  font-size: 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='text'],
input[type='number'] {
	width: 300px;
	box-sizing: border-box;
	padding: 10px;
	margin: 5px;
	border-radius: 15px;
	border: 1px solid #a5a5a5;
	-moz-appearance: textfield;
}

#modal-add-button {
	box-sizing: border-box;
	width: 300px;
	padding: 10px;
	margin: 5px;
}

button:hover {
	cursor: pointer;
	opacity: 0.5;
}

input:hover,
input:focus,
select:focus,
textarea:focus,
button:focus {
		outline: 0;
		border-color: #7957FB;
}

/*** Toggle switch CSS from:
 https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_switch ***/

.switch {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 20px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: grey;
  -webkit-transition: .4s;
  transition: .4s;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #A993FF;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
}

input:focus + .slider {
  /* box-shadow: 0 0 1px #7957F8; */
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
}

input:checked + .slider:before {
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}
  
.slider.round:before {
	border-radius: 50%;
}